/****************************
    Reset
****************************/

*,*:before,*:after{
    box-sizing: border-box;
}

/****************************
    Base
****************************/

body{
    font-family: 'Lato', sans-serif;
    color: #e8e8e8;
    line-height: 1.5;
}

a{
    color: inherit;
    text-decoration: none;
}
/*font-family: 'PT Serif', serif;*/

/****************************
    Structure
****************************/

.menu{
    position: fixed;
    top: 0;
    left: 0;

    width: 25%;
    height: 100%;

    background-color: #181818;
}

.contenu{
    padding-left: 25%;

    margin: 8% auto;
}

/****************************
    Modules
****************************/

/****** menu ******/

.menu h1{
    font-size: 1.5em;
}

.menu p{
    color:#818181;
}

/*menu-texte*/

.menu-texte{
    padding: 20px 30px;
}

/*social-nav*/

.social-nav{
    display: flex;
    justify-content: space-between;

    padding: 20px 30px;
}

.social-nav a{
    font-size: 2.25em;
    color: #818181;

    transition: 1s;
}

.social-nav a:hover{
    color: #8f143d;

    transition: 1s;
}

/* ligne grise */

hr{
    border-color: #818181;
    margin: 20px;
}

/*main-nav*/
.main-nav{
    display: flex;
    flex-direction: column;
}

.main-nav a{
    font-size: 150%;
    padding: 20px 30px;

    transition: 1s;
}

.main-nav a:hover{
    background-color: #002f5f;

    padding-left: 40px;

    transition: 1s;
}

/****** contenu ******/

/*main-header*/

.main-header span:first-of-type{
    color: #002f5f;
}

.main-header span:last-of-type{
    color: #de1255;
}















